IMPORTING THE NECESSARY LIBRARIES

In [1]:
# importing the necesssary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# reading the housing dataset. The file is named as housing.csv

df = pd.read_csv("housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
#checking for null values
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
#removing the rows with null data
df.dropna(inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
#removing rows with duplicated data
df.drop_duplicates(inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [6]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [7]:
x = df['total_bedrooms'].mean()
df['total_bedrooms'].fillna(x,inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [8]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

Faulty dataset preprocessing

In [9]:
df = pd.read_csv("Faulty_dataset.csv")
df

,slno,name,rollno,contact,gender,dob,10th,12th,COLLEGE,Current Course,BE Branch,BE CGPA,Valid email id to which assessment links should be shared,YOP
0,1,NaN,CB.EN.U4CYS21067,9.110334e+09,Male,03-12-2003,100.0,97.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.92,cb.en.u4cys21067@cb.students.amrita.edu,2025
1,2,Ch.Madhav Dheeraj,CB.EN.U4CSE21611,9.553435e+09,Male,15-08-2003,993333.0,95.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.20,madhavcharugundla@gmail.com,2025
2,3,Manbendra Satpathy,CB.EN.U4CYS21039,9.777512e+09,Male,20-01-2004,333333.0,94.6,Amrita Vishwa Vidyapeetham,BTech,CYS,8.74,manbendrasatpathy@gmail.com,2025
3,4,NaN,CH.EN.U4CYS21063,6.304027e+09,Female,05-01-2004,100.0,98.0,Amrita Vishwa Vidyapeetham,BTech,CYS,9.11,varshiniraja050104@gmail.com,2025
4,5,M.L.Sahasra Reddy,CH.EN.U4CYS21037,6.303988e+09,Female,16-08-2004,100.0,98.6,Amrita Vishwa Vidyapeetham,BTech,CYS,9.04,sahasramandai@gmail.com,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
82,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
83,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
84,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
85,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025

In [10]:
df.isnull().sum()

slno                                                         0
name                                                         2
rollno                                                       0
contact                                                      1
gender                                                       4
dob                                                          2
10th                                                         1
12th                                                         1
COLLEGE                                                      0
Current Course                                               0
BE Branch                                                    0
BE CGPA                                                      2
Valid email id to which assessment links should be shared    0
YOP                                                          0
dtype: int64

In [12]:
def fillNames(row):
    if pd.isnull(row['name']):
        if row['gender']=="Male":
            return "John Doe"
        elif row['gender']=='Female':
            return "Jane Doe"
    return row['name']

df['name']=df.apply(fillNames,axis=1)
df

,slno,name,rollno,contact,gender,dob,10th,12th,COLLEGE,Current Course,BE Branch,BE CGPA,Valid email id to which assessment links should be shared,YOP
0,1,John Doe,CB.EN.U4CYS21067,9.110334e+09,Male,03-12-2003,100.0,97.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.92,cb.en.u4cys21067@cb.students.amrita.edu,2025
1,2,Ch.Madhav Dheeraj,CB.EN.U4CSE21611,9.553435e+09,Male,15-08-2003,993333.0,95.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.20,madhavcharugundla@gmail.com,2025
2,3,Manbendra Satpathy,CB.EN.U4CYS21039,9.777512e+09,Male,20-01-2004,333333.0,94.6,Amrita Vishwa Vidyapeetham,BTech,CYS,8.74,manbendrasatpathy@gmail.com,2025
3,4,Jane Doe,CH.EN.U4CYS21063,6.304027e+09,Female,05-01-2004,100.0,98.0,Amrita Vishwa Vidyapeetham,BTech,CYS,9.11,varshiniraja050104@gmail.com,2025
4,5,M.L.Sahasra Reddy,CH.EN.U4CYS21037,6.303988e+09,Female,16-08-2004,100.0,98.6,Amrita Vishwa Vidyapeetham,BTech,CYS,9.04,sahasramandai@gmail.com,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
82,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
83,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
84,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
85,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025

In [13]:
lb=0
ub=100
df['10th']=df['10th'].apply(lambda x:lb if x<lb else(ub if x>ub else x))
df

,slno,name,rollno,contact,gender,dob,10th,12th,COLLEGE,Current Course,BE Branch,BE CGPA,Valid email id to which assessment links should be shared,YOP
0,1,John Doe,CB.EN.U4CYS21067,9.110334e+09,Male,03-12-2003,100.0,97.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.92,cb.en.u4cys21067@cb.students.amrita.edu,2025
1,2,Ch.Madhav Dheeraj,CB.EN.U4CSE21611,9.553435e+09,Male,15-08-2003,100.0,95.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.20,madhavcharugundla@gmail.com,2025
2,3,Manbendra Satpathy,CB.EN.U4CYS21039,9.777512e+09,Male,20-01-2004,100.0,94.6,Amrita Vishwa Vidyapeetham,BTech,CYS,8.74,manbendrasatpathy@gmail.com,2025
3,4,Jane Doe,CH.EN.U4CYS21063,6.304027e+09,Female,05-01-2004,100.0,98.0,Amrita Vishwa Vidyapeetham,BTech,CYS,9.11,varshiniraja050104@gmail.com,2025
4,5,M.L.Sahasra Reddy,CH.EN.U4CYS21037,6.303988e+09,Female,16-08-2004,100.0,98.6,Amrita Vishwa Vidyapeetham,BTech,CYS,9.04,sahasramandai@gmail.com,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
82,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
83,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
84,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025
85,71,Yuvaraj Kumar G P,CB.EN.U4CYS21090,9.384310e+09,NaN,23-12-2003,85.0,87.8,Amrita Vishwa Vidyapeetham,Btech,CYS,7.11,cb.en.u4cys21090@cb.students.amrita.edu,2025

In [14]:
df.isnull()

,slno,name,rollno,contact,gender,dob,10th,12th,COLLEGE,Current Course,BE Branch,BE CGPA,Valid email id to which assessment links should be shared,YOP
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,False,False,False,False,False,False,False,False,False,False,False,False,False,False
82,False,False,False,False,True,False,False,False,False,False,False,False,False,False
83,False,False,False,False,True,False,False,False,False,False,False,False,False,False
84,False,False,False,False,True,False,False,False,False,False,False,False,False,False
85,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().any()

slno                                                         False
name                                                         False
rollno                                                       False
contact                                                      False
gender                                                       False
dob                                                          False
10th                                                         False
12th                                                         False
COLLEGE                                                      False
Current Course                                               False
BE Branch                                                    False
BE CGPA                                                      False
Valid email id to which assessment links should be shared    False
YOP                                                          False
dtype: bool

In [16]:
df.dropna(inplace=True)

In [18]:
df

,slno,name,rollno,contact,gender,dob,10th,12th,COLLEGE,Current Course,BE Branch,BE CGPA,Valid email id to which assessment links should be shared,YOP
0,1,John Doe,CB.EN.U4CYS21067,9.110334e+09,Male,03-12-2003,100.0,97.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.92,cb.en.u4cys21067@cb.students.amrita.edu,2025
1,2,Ch.Madhav Dheeraj,CB.EN.U4CSE21611,9.553435e+09,Male,15-08-2003,100.0,95.0,Amrita Vishwa Vidyapeetham,BTech,CYS,8.20,madhavcharugundla@gmail.com,2025
2,3,Manbendra Satpathy,CB.EN.U4CYS21039,9.777512e+09,Male,20-01-2004,100.0,94.6,Amrita Vishwa Vidyapeetham,BTech,CYS,8.74,manbendrasatpathy@gmail.com,2025
3,4,Jane Doe,CH.EN.U4CYS21063,6.304027e+09,Female,05-01-2004,100.0,98.0,Amrita Vishwa Vidyapeetham,BTech,CYS,9.11,varshiniraja050104@gmail.com,2025
4,5,M.L.Sahasra Reddy,CH.EN.U4CYS21037,6.303988e+09,Female,16-08-2004,100.0,98.6,Amrita Vishwa Vidyapeetham,BTech,CYS,9.04,sahasramandai@gmail.com,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,vinayak r,CB.EN.U4CYS21084,8.438542e+09,Male,15-01-2004,93.0,92.2,Amrita Vishwa Vidyapeetham,Btech,CYS,8.65,cb.en.u4cys21084@cb.students.amrita.edu,2025
78,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
79,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
80,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025
81,79,Alagu Soundarya G,CB.EN.U4CYS21005,9.345533e+09,Female,23-02-2004,84.0,90.9,Amrita Vishwa Vidyapeetham,Btech,CYS,7.90,cb.en.u4cys21005@cb.students.amrita.edu,2025

In [19]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
77    False
78    False
79     True
80     True
81     True
Length: 76, dtype: bool

In [20]:
df.drop_duplicates(inplace=True)
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Length: 73, dtype: bool

In [21]:
df.shape

(73, 14)